arrow==0.14.7
beautifulsoup4==4.9.3
bottle==0.12.19
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
DateTime==4.3
gunicorn==20.1.0
ics==0.7
idna==2.10
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
TatSu
urllib3==1.26.4
zope.interface==5.3.0
