anyio
arrow
asgiref
beautifulsoup4
bs4
certifi
chardet
click
DateTime
fastapi
gunicorn
h11
ics
idna
Jinja2
loguru
lxml
MarkupSafe
mypy-extensions
pathspec
platformdirs
pydantic
python-dateutil
pytz
requests
six
sniffio
soupsieve
starlette
TatSu
tomli
typing_extensions
urllib3
uvicorn
zope.interface
