anyio==3.5.0
arrow==0.14.7
asgiref==3.5.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.3
DateTime==4.3
fastapi==0.73.0
gunicorn==20.1.0
h11==0.13.0
ics==0.7
idna==2.10
Jinja2==3.0.3
loguru==0.5.3
lxml==4.6.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
pydantic==1.9.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.17.1
TatSu==5.7.3
tomli==2.0.0
typing_extensions==4.0.1
urllib3==1.26.4
uvicorn==0.17.1
zope.interface==5.3.0
